@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Lobster+Two:ital@1&display=swap");
.details {
  width: 50%;
  margin-top: 12%;
  margin-left: 10%;
  background-color: white;
  text-align: center;
}
Button {
  font-family: "Lobster Two", cursive;
}
